<a href="https://colab.research.google.com/github/2303A52420/AIML-2303A52420/blob/main/2303A52420_BT_36_Q_NO_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**HT NO:2303A52420**
#**BATCH:36**
#**QUESTION NO:25**



Prediction of South Indian travel Destinations using Holiday Data

1. Identify the top 5 attributes for south India destinations

2. Identify the attribute with most liked travel spots

3. Find the max and min attributes of choice for south India tourism


4. What is the role of beaches, theatres, malls, parks in India tourism south

5. Identify the sports with most attributes in south India

6. Apply either Classification Model or Clustering Model to evaluate the dataset

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.cluster import KMeans
from sklearn.metrics import classification_report, confusion_matrix
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load dataset
# Replace 'south_india_travel_data.csv' with your dataset file path
data = pd.read_csv('/content/buddymove_holidayiq.csv')

# Display the first few rows of the dataset
print(data.head())

# Handle missing values if any
# Example: data.fillna(method='ffill', inplace=True)

  User Id  Sports  Religious  Nature  Theatre  Shopping  Picnic
0  User 1       2         77      79       69        68      95
1  User 2       2         62      76       76        69      68
2  User 3       2         50      97       87        50      75
3  User 4       2         68      77       95        76      61
4  User 5       2         98      54       59        95      86

In [5]:
# Load dataset
# Replace 'south_india_travel_data.csv' with your dataset file path
data = pd.read_csv('/content/buddymove_holidayiq.csv')

# Print the available columns to check for the correct attribute column name
print(data.columns)

# Assuming the dataset has a column 'Place Type' with destination attributes
# If the column name is different, replace 'Place Type' with the actual column name
# Check the output of data.columns and use the correct column name here
# For example, if the column is named 'Place_Type', use:
# top_attributes = data['Place_Type'].value_counts().head(5)
top_attributes = data[data.columns[2]].value_counts().head(5)  # Replace with the correct column name
print("Top 5 attributes for South India destinations:\n", top_attributes)

Index(['User Id', 'Sports', 'Religious', 'Nature', 'Theatre', 'Shopping',
       'Picnic'],
      dtype='object')
Top 5 attributes for South India destinations:
 Religious
84     17
114    15
93     11
79      9
94      8
Name: count, dtype: int64

QUESTION 1

In [7]:
# Step 1: Identify the top 5 attributes for South India destinations
# Summing up values for each attribute to find the most popular ones
attribute_totals = data.iloc[:, 1:].sum().sort_values(ascending=False)
top_5_attributes = attribute_totals.head(5)

print("Top 5 attributes for South India destinations:")
print(top_5_attributes)

Top 5 attributes for South India destinations:
Nature       31005
Picnic       29980
Theatre      28978
Shopping     28047
Religious    27335
dtype: int64

QUESTION 2

In [8]:
# Step 2: Identify the attribute with the most liked travel spots
most_liked_attribute = attribute_totals.idxmax()
most_liked_value = attribute_totals.max()

print(f"Most liked attribute: {most_liked_attribute} ({most_liked_value})")

Most liked attribute: Nature (31005)

QUESTION 3

In [9]:
# Step 3: Find the max and min attributes of choice
max_attribute = attribute_totals.idxmax()
max_value = attribute_totals.max()
min_attribute = attribute_totals.idxmin()
min_value = attribute_totals.min()

print(f"Maximum attribute: {max_attribute} ({max_value})")
print(f"Minimum attribute: {min_attribute} ({min_value})")

Maximum attribute: Nature (31005)
Minimum attribute: Sports (2985)

QUESTION 4

In [10]:
# Step 4: Analyze specific roles (example: Theatre role analysis)
role_analysis = data['Theatre'].describe()

print("Role of Theatre in tourism:")
print(role_analysis)

Role of Theatre in tourism:
count    249.000000
mean     116.377510
std       32.132696
min       59.000000
25%       93.000000
50%      113.000000
75%      138.000000
max      213.000000
Name: Theatre, dtype: float64

QUESTION 5

In [11]:
# Step 5: Identify the sports with the most attributes
# Assuming 'Sports' corresponds to activities labeled in the dataset
sports_total = data['Sports'].sum()

print(f"Total sports-related attribute value: {sports_total}")

Total sports-related attribute value: 2985

QUESTION 6

In [12]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

# Step 6: Clustering using K-Means
features = data.iloc[:, 1:]  # Exclude User Id
scaler = StandardScaler()
scaled_features = scaler.fit_transform(features)

# Apply K-Means
kmeans = KMeans(n_clusters=3, random_state=42)
data['Cluster'] = kmeans.fit_predict(scaled_features)

print("K-Means Clustering Results:")
print(data[['User Id', 'Cluster']].head())

K-Means Clustering Results:
  User Id  Cluster
0  User 1        2
1  User 2        2
2  User 3        2
3  User 4        2
4  User 5        2